div {
    .hello {
        color: blue;
        display: flex;
        box-shadow: 1px grey; 
    }
}

div .test {
  .hello {
      color: blue;
      display: flex;
      box-shadow: 1px grey; 
  }
}

.abc {
  color: turquoise;

}

:root {
    --mainColor: #12345678;
  }
  
  body {
    color: var(--mainColor);
    font-family: system-ui;
    overflow-wrap: break-word;
  }